/build
*/build
/.vscode/
.ccls-cache
/.idea/
/Release/
tests/CMakeFiles/
/scripts/dependencies/
/.cache/
*/.cache/
tests/binary/
tests/parquet/
/CMakeFiles
.DS_Store
/tests/CMakeFiles/
/tests/Makefile
/cmake-build-debug/
/logs/
